.todosPanelContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border: 1px solid var(--card-border-color);
  flex: 1;
  min-height: 0;
}

.panelHeader {
  border-bottom: 1px solid var(--card-border-color);
  padding: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
  flex-shrink: 0;
}

.panelContent {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-height: 0;
}

.todosContainer {
  flex: 1;
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.todoItem {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 16px;
  border: 8px;
  border: 1px solid var(--card-border-color);
}
