

.wrapper {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px;
    min-height: 100%;
}


.sidebarContainer {
    background-color: white;
    min-height: 100%;
    border-right: 1px solid var(--card-border-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}